**1.what are data structures, and why are they important?**
- Data structures are ways to organize and store data so it can be accessed and modified efficiently.
- python offers two categories:
  - Built-in Data structure:
   list,tuple,set,dictionaries
  - user-defined Data structure:
   stack,queue
- They are important because:
  - Scalability:
As your program grows, efficient data handling becomes critical. Proper use of data structures ensures your code remains fast and maintainable.
  - Efficiency:
Choosing the right structure can drastically improve speed and memory usage.

**2. Explain the difference between mutable and immutable data types with examples.**
- Mutability refers to whether an object’s value can be changed after it’s created.
  - Mutable Datatype:
     These can be changed after creation. You can modify, add, or remove elements without creating a new object.
list,set & dictionaries are mutable datatypes.
  - Immutable Datatype:
These cannot be changed once created. Any operation that seems to modify them actually creates a new object.
strings,tuples,integer are immutable datatypes

**3. What are the main differences between lists and tuples in Python?**
-  The difference between lists & tuples are
   - Mutability:
  lists are mutable and have more built-in methods,
  tuples are immutable and have less built-in methods
   - Performance:
  Tuples are faster than lists for iteration and access because they are immutable and stored more compactly.
 Lists are slightly slower due to their dynamic nature.
   - Use Case:
    Use lists when your data changes dynamically
    Use tuples when your data is fixed and you want to ensure it remains unchanged (e.g., coordinates, configuration settings).
   - Memory Usage:
     Tuples consume less memory than lists.
   - tuples are more safe than list in data security

**4**. **Describe how dictionaries store data?**
- In python, dictionaries store data in the form of key value pairs.
Here keys must be immuatable(strings,int,tuples are allowed)
and the values can be mutable.

**5.Why might you use a set instead of a list in Python?**
- Sets and lists store the collection of items.
- Reasons for choosing the set:
   - Uniqueness Guaranteed:
      Sets automatically eliminate duplicates, so if you need a collection of unique items, sets are ideal.
  - Faster Membership Testing:
     Sets use hash tables, directly scans the required element- Lists require scanning each element
  - Mathematical Set Operations
     Sets support operations like union, intersection, and difference, which are super handy for comparing datasets.
- When Not to Use Sets
  - If order matters, or you need to access elements by index, use a list.
  - Sets are unordered, so they don’t preserve the sequence of elements

**6.What is a string in Python, and how is it different from a list?**
- A string is a sequence of characters enclosed in single ('...'), double ("..."), or triple quotes ('''...'''). It can be characters,symbols and integers.
strings are immutable,indexed & iterable.
- while lists are sequence of datatypes
lists are mutable,indexed & iterable.

**7.How do tuples ensure data integrity in Python?**
- Tuples are immutable.once they are created we cannot change the object.so this ensures the data remains same through out the program.

**8.What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a data structure that stores key-value pairs and allows for fast data retrieval.
- It works by using a hash function to convert a key (like a string or number) into an index in an internal array.
- This index determines where the value is stored
- Python's dict type is a built-in implementation of a hash table

**9.Can lists contain different data types in Python?**
- Yes,Lists are the collection of elements of hetrogeneous datatype.

**10.Explain why strings are immutable in Python?**
- String are immutable because of their hashability property and for efficient memory usage.

**11.What advantages do dictionaries offer over lists for certain tasks?**
- Advantages of Dictionaries over lists:
  - Fast lookups by keys:
    Dictionaries uses the keys which is faster than lists for searching the element
  - unique keys prevention: Dictionaries maintain only unique keys

**12.Describe a scenario where using a tuple would be preferable over a list?**
- Storing the employee id and the name.
(1,"devi") (2,"sai")
l=[(1,"devi"), (2,"sai")]

**13.How do sets handle duplicate values in Python?**
- Sets automatically remove duplicate values. They are designed to store only unique elements, so if you try to add a duplicate, Python simply ignores it

**14.How does the “in” keyword work differently for lists and dictionaries?**
- "in" is a membership operator but works differently in lists & dictionaries
  - Lists: "in" operator checks the value is present or not.performs linear search
  - Dictionaries: "in" operator checks the key is present or not

**15.Can you modify the elements of a tuple? Explain why or why not?**
-  you cannot modify the elements of a tuple in Python. Tuples are immutable, which means once they’re created, their contents are locked in and can’t be changed.
- Tuples Are Immutable because:
   - Designed for safety: Tuples are often used to store fixed data
   - Performance boost: Because they don’t change, Python can optimize memory usage and access speed.
   - Hashable: Tuples can be used as keys in dictionaries (if they contain only immutable elements), which wouldn’t be possible if they were mutable

**16.What is a nested dictionary, and give an example of its use case?**
- A nested dictionary in Python is a dictionary inside another dictionary. It’s used to organize related data in a structured way.
 - Simple Use Case: Employee Records
Imagine you want to store details of multiple employees. Each employee has their own name, age, and department.
data={"emp1":{"name":"devi","id":1},
       "emp2":{"name":"hema","id":2}}

**17.Describe the time complexity of accessing elements in a dictionary?**
- Accessing elements in a Python dictionary is very fast
o(1)
- Directly scans the element as it uses the hash value technique

**18.In what situations are lists preferred over dictionaries?**
- when we need to maintain ordered and allow duplicate elements, choose lists

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Before Python 3.7, dictionaries didn’t keep track of the order in which items were added. So if you added keys like "name", "age", and "city", they might come out in a different order when you looked at the dictionary later.
- You couldn’t rely on the order of items.
- You accessed values by key, not by position.
- Since Python 3.7, dictionaries do keep insertion order, but you still can’t access items by index like a list. You still use keys to get values

**20.Explain the difference between a list and a dictionary in terms of data retrieval.**
- List access by positions(index)
- Dictionaries access elements by key

In [ ]:
#1 Write a code to create a string with your name and print it
name=input("enter name")
print("My name is",name)

enter nameDevi Nakak
My name is Devi Nakak

In [ ]:
#2.Write a code to find the length of the string "Hello World"?
a="Hello World"
print(f"length of {a} is {len(a)}")

length of Hello World is 11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
a="Python Programming"
print(a[:3])

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
a="hello"
print(f"The uppercase of {a} is {a.upper()}")

uppercase of hello is HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?
a="I like apple"
new=a.replace("apple","orange")
print(f"old string is \'{a}\' and replaced string is \'{new}\'")

old string is 'I like apple' and replaced string is 'I like orange'

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
l=[]
for i in range(1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1,2,3,4]
print(f"original list is {l}")
l.append(10)
print(f"modified list is {l}")

original list is [1, 2, 3, 4]
modified list is [1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1,2,3,4,5]
print(f"original list is {l}")
l.remove(3)
print(f"modified list is {l}")

original list is [1, 2, 3, 4, 5]
modified list is [1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a', 'b', 'c', 'd']
print(f"the second element in the list {l} is \'{l[1]}\'")

the second element in the list ['a', 'b', 'c', 'd'] is 'b'

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
l=[10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100,200,300)
print(t)

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red', 'green', 'blue', 'yellow')
print(f"the second-to-last elements in the tuple {t} are {t[1:]}")

the second-to-last elements in the tuple ('red', 'green', 'blue', 'yellow') are '('green', 'blue', 'yellow')'

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
a=min(t)
print(f"the smallest element in the tuple {t} is {min(t)}")

the smallest element in the tuple (10, 20, 5, 15) is 5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
index=t.index('cat')
print(f"the index of element \'cat\' in the tuple {t} is {index}")

the index of element 'cat' in the tuple ('dog', 'cat', 'rabbit') is 1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

t=('apple','orange','kiwi')
print(t)
if "kiwi" in t:
    print("yes kiwi is present in the tuple")
else:
    print("no kiwi is not present in the tuple")

('apple', 'orange', 'kiwi')
yes kiwi is present in the tuple

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
s={'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s={1, 2, 3, 4, 5}
print(f"set before clearing the items {s}")
s.clear()
print(f"set after clearing the items {s}")

set before clearing the items {1, 2, 3, 4, 5}
set after clearing the items set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}
s={1, 2, 3, 4}
print(f"original set {s}")
s.remove(4)
print(f"set after removing item 4 is {s}")

original set {1, 2, 3, 4}
set after removing item 4 is {1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1={1, 2, 3}
s2={3, 4, 5}
print(f"union of{s1} and {s2} is {s1|s2}")

#other way
#s3=s1.union(s2)
#print(s3)

union of{1, 2, 3} and {3, 4, 5} is {1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={3, 4, 5}
print(f"intersection of{s1} and {s2} is {s1&s2}")

intersection of{1, 2, 3} and {3, 4, 5} is {3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={"name":"devi","age":26,"city":"Hyderabad"}
print(d)

{'name': 'devi', 'age': 26, 'city': 'Hyderabad'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d={'name': 'John', 'age': 25}
d["country"]="USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d={'name': 'Alice', 'age': 30}
print(f"the value of name is {d['name']}")

the value of name is Alice

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={'name': 'Alice', 'city': 'Paris'}
print(d.keys())
if 'city' in d.keys():
  print("present")
else:
  print("not present")

dict_keys(['name', 'city'])
present

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all
l=[1,2,3,4]
t=(11,12,34)
s={25,67,88}
d={"name":"devi","age":26}
print(f"list is {l}")
print(f"tuple is {t}")
print(f"set is {s}")
print(f"dictionary is {d}")

list is [1, 2, 3, 4]
tuple is (11, 12, 34)
set is {88, 25, 67}
dictionary is {'name': 'devi', 'age': 26}

In [ ]:
'''27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random
l=[random.randint(1,100)  for _ in range(5)]
print(f"list before sorting {l}")
l.sort()
print(f"list after sorting in ascending order {l}")

list before sorting [95, 43, 79, 58, 32]
list after sorting in ascending order [32, 43, 58, 79, 95]

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index
l=["apple","banana","grapes","orange"]
print(l[2])

grapes

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result.
d1={"name":"anu","age":25,"city":"hyd"}
d2={"fruit":"apple","animal":"lion"}
d1.update(d2)
print(d1)

{'name': 'anu', 'age': 25, 'city': 'hyd', 'fruit': 'apple', 'animal': 'lion'}

In [ ]:
#30.Write a code to convert a list of strings into a set
l=["a","b","c","a","d"]
s=set(l)
print(f"list is {l}")
print(f"set is {s}")

list is ['a', 'b', 'c', 'a', 'd']
set is {'b', 'a', 'c', 'd'}